footer.site-footer.container
  .content.text-center
    .copyright
      img(src="./assets/images/logos/logo.svg")
      p Spiin Copyright © 2024 All Rights Reserved
    .partner
      img(src="./assets/images/logos/iinches-logo-gray.svg")
      p A Proud Partner of the 
        a(href="#0") iiNCHES Foundation for Daily Progress