header.site-masthead.container
  .content
    .site-logo
      img(src="./assets/images/logos/logo.svg")
      
    nav.main-nav
      ul.list-unstyled
        li
          a(href="#request-info") Request Info
        li
          a(href="#0") Invest Now