extends ../layouts/layout.pug

block content
  section.container
    .content

      .hero
        .hero-content 
          h1 High School Student looking for that first car?
          p Spiin offers safe, reliable, clean and insured cars that you can drive for a day, a week, a month or longer and use to earn daily cash performing gig-economy jobs like, Uber, Lyft, Doordash, Grubhub, Instacart and more.
          p
            a(href="#0").button Request Info
        .hero-imagery
          img(src="./assets/images/landing-page/car.svg")




      .more-info
        .text-center.mb-24
          h2.subheader Our Mission
          p Nullam quis risus eget urna mollis ornare vel eu leo. Donec id elit non mi porta gravida at eget metus.

        script(src='https://www.cognitoforms.com/f/seamless.js' data-key='4o_wmnyAHEWJOir-3ieNPA' data-form='4')
