extends ../layouts/layout.pug

block content
  section.container
    .content

      .hero
        h1#page-header
          span.no-js High School Student looking for that first car?
        .inner
          .hero-content 
            p.large Spiin offers safe, reliable, clean and insured cars that you can drive for a day, a week, a month or longer and use to earn daily cash performing gig-economy jobs like, Uber, Lyft, Doordash, Grubhub, Instacart and more.
            p.mt-40
              a(href="#request-info").button Request Info
          .hero-imagery
            .image-container
              img(src="./assets/images/landing-page/car.svg").animate__animated.animate__fadeInRight


      .about
        .partner.text-center
          .logo-partners
            img(src="./assets/images/logos/logo-white.svg")
            span.plus +
            a(href="#0")
              img(src="./assets/images/logos/iinches-logo-white.svg")
          .inner-text
            p.large Through our partnership with the iiNCHES Foundation for Daily Progress, we aim to teach people to become financially literate and to eventually find better jobs more suited to their interests, while putting groceries on the table and paying that overdue gas bill TODAY!

            p A Proud Partner of the 
              a(href="#0") iiNCHES Foundation for Daily Progress

        .experience
          .graphic
            img(src="./assets/images/landing-page/driving.jpg")
          .text
            h2.text-header--3 Experience the Spiin Difference
            p With a regimented cleaning and maintenance schedule, you'll always drive a fresh, clean car, and if anything ever goes wrong mechanically... Just "key-swap" for another Spiin fleet vehicle, and get back to earning money!

            p Try Spiin. LEARN to drive the smart way with no long term commitments until you are ready... if ever. No pressure. 

            p Request information to learn how you can be a part of building the Spiin solution and make the world a better place. How? No more car repo men or collection agencies would be a good start! We'll join Shakespeare later and work on the lawyers next.




      .more-info#request-info
        .text-center.mb-24
          h2.subheader Request Information

        script(src="https://www.cognitoforms.com/f/seamless.js" data-key="VUgq0mv1r0qOjmt6PWLJcA" data-form="2")
