/*
-----------------------------------------
WIDTHS
-----------------------------------------
*/

:root {
  --site-width:             1200px;

  --radius:                 24px;
  --shadow:                 0px 100px 80px 0px rgba(0, 0, 0, 0.07), 0px 41.778px 33.422px 0px rgba(0, 0, 0, 0.05), 0px 22.336px 17.869px 0px rgba(0, 0, 0, 0.04), 0px 12.522px 10.017px 0px rgba(0, 0, 0, 0.04), 0px 6.65px 5.32px 0px rgba(0, 0, 0, 0.03), 0px 2.767px 2.214px 0px rgba(0, 0, 0, 0.02);
}


/*
-----------------------------------------
COLORS
-----------------------------------------
*/

:root {

  // NEUTRAL
  --white:                  #fff;
  --black:                  #000;
  --gray:                   #4A4A4A;
  --gray-dark:              #1A1A1A;

  --primary:                #3E56A6;
  --primary-light:          #8F8FC6;
  --primary-dark:           #263B97;
  --secondary:              #E81E25;
  --secondary-light:        #E88A8B;



  // Forms

  --brand-primary:          var(--primary);




  // System Colors

  --success:                #11662C;
  --error:                  #AD050B;


  --base-color:             var(--white);
  --content-background:     var(--white);

  // Text
  --text-color:             var(--gray-dark);
  --link-color:             var(--primary);


  // User Select (colors when a user selects objects on screen)
  --select-background:      var(--primary);
  --select-text:            var(--white);
}



/*
-----------------------------------------
FONTS
-----------------------------------------
*/

// Font Family
:root {
  --font:                   "Nunito", sans-serif;
  --font-serif:             "Lora", serif;

  --normal:                400;
  --semi:                   600;
  --bold:                   900;
}

$font-size:                 16px; // This is a SCSS variable for the mixin function


/*
-----------------------------------------
BREAKPOINTS
-----------------------------------------
*/

$breakpoints: (
    "desktop-wide":         1248px,
    "desktop":              1024px,
    "desktop-small":        992px,
    "tablet-wide":          850px,
    "tablet":               768px,
    "tablet-small":         720px,
    "phone-wide":           600px,
    "phone":                480px,
    "phone-small":          400px
);

@mixin mq($width, $type: min) {
  @if map_has_key($breakpoints, $width) {
    $width: map_get($breakpoints, $width);
    @if $type == min {
      $width: $width + 1px;
    }
    @media only screen and (#{$type}-width: $width) {
      @content;
    }
  }
}